.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px 0 10px 0;
    background-color: darkslategray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

form {
    padding: 0 10px 10px 10px;
}

table {
    border-spacing: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

td:first-child {
    text-align: end;
}

input[type="checkbox"] {
    width: 26px;
    height: 26px;
}

.container {
    background-color: #763626;
    width: fit-content;
    border-radius: 10px;
    margin: 50px auto 0 auto;
    box-shadow: 10px 5px 5px black;
}

.mybuttons {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 10px 0;
}