table {
    border-spacing: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #763626;
}

td:first-child {
    text-align: end;
}

input[type="checkbox"] {
    width: 26px;
    height: 26px;
}

.mybuttons {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;
    background-color: #763626;
}
