table {
    width: 98%;
    margin: 30px auto 0 auto;
    border-spacing: 0;
    border: 1px solid Lightgrey;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
}

th {
    text-align: left;
    background-color: #763626;
    padding: 2px 4px 2px 4px;
}

tr {
    background-color: #336B87;
}

tr:hover {
    background-color: #90AFC5;
}

td {
    border-top: 1px solid lightgrey;
    padding: 2px 4px 2px 4px;
}

.home-header > label {
    font-size: 1.2rem;
    padding-left: 20px;
}
